<link rel="stylesheet" href="/stylesheets/otp.css">
<%- include('partials/header')%>
<%- include('partials/nav')%>

<div class="main">
    <div class="form-container"> 
    <h1>Verify with otp send on your email</h1>
    <form action="/matchOtp/<%= email%>" method="post">
      <br>
      <input type="number" name="otp" placeholder="****">
      <br>
      <span class="alert"><%= otpResponse %></span>
    <button class="button">Confirm</button>
    </form>
 </div>

</div>

<%- include('partials/footer')%>

